.header__overlay {
    position: relative;
    top: 0;
    width: 86%;
    min-height: 680px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    background-color: #f8f8f8;
}