.footer__about {
    width: 75%;
    padding-top: 17px;
    color: #b2b2b2;
    font-family: "Arial";
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}