.header__content {
    margin: 0;
    color: #ffffff;
    font-family: "ArialMT Regular";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}